#version: '3.9'

services:
  cf-main-app:
    build: ./main
    container_name: cf-main-app
    ports:
      - "5500:5500"
    environment:
      - URL=main-app

  cf-it-app:
    build: ./paths
    container_name: cf-it-app
    ports:
      - "5600:5600"
    environment:
      - ROLE=IT
      - PORT=5600

  cf-hr-app:
    build: ./paths
    container_name: cf-hr-app
    ports:
      - "5700:5600"
    environment:
      - ROLE=HR
      - PORT=5600
  cf-gamers-app:
    build: ./paths
    container_name: cf-gamers-app
    ports:
      - "5800:5600"
    environment:
      - ROLE=Gamers
      - PORT=5600

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel --no-autoupdate run --token ${CLOUDFLARED_TOKEN}
    environment:
      - CLOUDFLARED_TOKEN=${CLOUDFLARED_TOKEN}
    depends_on:
      - cf-main-app
      - cf-it-app
      - cf-hr-app
      - cf-gamers-app

networks:
  default:
    driver: bridge